*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}
header{
    display: flex;
    height: 80px;
    background-color: #152237;
}
.logonav{
    width: 84px;
    height: 31px;
    margin-top: 25px;
    margin-left: 90px;
}
.formnav{
    color: #FFFFFF;
    margin-left: 90px;
    margin-top: 31px;
    font-size: 15px;
    width: 200px;
}
a{
    text-decoration: none;
}
.head-2{
    display: flex;
    align-items: center;
    width: 477px;
    height: 40px;
    margin-top: 20px;
    margin-left: 120px;
    border: solid 1px white;
    border-radius: 6px;
    background-color: #152237;
    padding-left: 10px;
}
.loup{
    height: 30px;
    width: 30px;
    margin-left: 200px;
}
input{
    background-color: transparent;
    border: 0;
}
.lesbtn{
    display: flex;
    margin-top: 20px;
    margin-right: 101px;
    margin-left: 150px;
}
.connav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin-right: 19px;
    color: #152237;
}
.insnav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    border-radius: 6px;
    color: #152237;
}



.backban{
    height: 451px;
    background-image: url(../projet-1/ressources/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-weight: 800;
    font-size: 48px;
    text-transform: uppercase;
}
.sh1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 8px;
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin-top: 22px;
}
.bannière{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 451px;
    background: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%);

}



.Lesformationspopulaires{
    background-color: #FFFFFF;
    height: 632px;
}
.lesdiv{
    display: flex;
    flex-direction: row;
    margin-top: 34px;
}
.pop{
    margin-top: 30px;
    margin-left: 45px;
    font-weight: 800;
    font-size: 36px;
}
.formation{
    width: 307px;
    height: 362px;
    margin-top: 34px;
    margin-left: 45px;
}
.img-course{
    width: 305px;
    height: 206px;

}
h3{
    margin-top: 21px;
    margin-bottom: 11px;
}
.prix{
    position: relative;
    z-index: 1;
    top: -20px;
    left: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 31.58px;
    background-color: #152237;
    color: #FFFFFF;
    border-radius: 93px;
}
.etoile{
    margin-top: 5px;
    margin-bottom: 10.8px;
}

.btnpop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 40px;
    margin-top: 43px;
    margin-left: 42%;
    background-color: #152237;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
}


.formationrécente{
    background-color: #152237;
    height: 632px;
}
.ree{
    padding-top: 30px;
    margin-left: 45px;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}
.formationree{
    width: 307px;
    height: 362px;
    margin-top: 34px;
    margin-left: 45px;
    color: #FFFFFF;
}
.prixree{
    position: relative;
    z-index: 1;
    top: -20px;
    left: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 31.58px;
    background-color:#FFFFFF;
    color:#152237;
    border-radius: 93px;
}
.pn{
    font-weight: 700;
    font-size: 20px;
}
.pb{
    font-weight: 400;
    font-size: 10px;
    line-height: 7px;
    letter-spacing: -1.5%;
    text-decoration: line-through;
}
.btnree{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 40px;
    margin-left: 42%;
    margin-top: 43px;
    background-color: #FFFFFF;
    border-radius: 6px;
    color: #152237;
    font-weight: 500;
    font-size: 15px;
}


.avis{
    height: 597px;

}
.tittreavis{
    display: flex;
    justify-content: center;
    margin-top: 58px;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
}
.lesavis{
    display: flex;
    flex-direction: row;
    margin-top: 66px;
    margin-left: 150px;
}
.avisclient1{
    width: 689px;
    height: 306px;
    margin-right: 33px;

}
.imgavis{
    border-radius: 50%;
}



.avantages{
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    height: 641px;
}
.contenu{
    display: flex;
    flex-direction: column;
    margin-top: 79px;
    margin-left: 90px;
}
.tittreaven{
    
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
}
.listeaven{
    margin-top: 43px;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: -1.5%;
}
.un{
    list-style-image: url(../projet-1/ressources/arrow-up-right.svg);
}
.de{
    list-style-image: url(../projet-1/ressources/edit-01.svg);
}
.tr{
    list-style-image: url(../projet-1/ressources/download-02.svg);
}
.qu{
    list-style-image: url(../projet-1/ressources/star-02.svg);
}
.ci{
    list-style-image: url(../projet-1/ressources/clock-backward.svg);
}
.si{
    list-style-image: url(../projet-1/ressources/annotation-typing.svg);
}
li{
    padding-left: 25px;
}
.imgaven{
    width: 630px;
    height: 430px;
}
.plcimg{
    margin-top: 76px;
    margin-right: 40px;
    margin-left: 10px;
}


.avantageformation{
    display: flex;
    flex-direction: row;
    height: 641px;
    background-color: #44DD8A;
}
.imgcree{
    width: 630px;
    height: 430px;
}
.plcimgfo{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 10px;
}
.icones{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 79px;
    width: 50%;
}
.tittrecree{
    font-weight: 900;
    font-style: Black;
    font-size: 35px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-transform: uppercase;
}
.listecree{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -1.5%;
    margin-top: 39px;
}
.unfo{
    list-style-image: url(../projet-1/ressources/coin-hand.svg);
}
.defo{
    list-style-image: url(../projet-1/ressources/heart.svg);
}
.trfo{
    list-style-image: url(../projet-1/ressources/pencil-01.svg);
}
.cifo{
    list-style-image: url(../projet-1/ressources/settings.svg);
}
.qufo{
    list-style-image: url(../projet-1/ressources/user-profile-square.svg);
}


.aproposdeKlivio{
    display: flex;
    flex-direction: row;
    height: 600px;
    background-color: #F5F5F5;
    width: 100%;
}
.groupe{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin-left: 5%;
}
.tittreapr{
    font-weight: 900;
    font-style: Black;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-transform: uppercase;

}
.bleu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152237;
    width: 50%;
}



.contact{
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tittrecontact{
    font-weight: 900;
    font-style: Black;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ligne{
    height: 1px;
    width: 300px;
    background-color: #44DD8A;
    margin-bottom: 30px;
}
.nomemail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nom{
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 500px;
    background-color: #152237;
    margin-right: 100px;
    color: #FFFFFF;
}
.email{
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 500px;
    background-color: #152237;
    color: #FFFFFF;
}
.message{
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    height: 200px;
    width: 1120px;
    background-color: #152237;
}
.btncon{
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #152237;
    background-color: #44DD8A;
    border-radius: 6px;
    margin-top: 40px;
}

.ligne2{
    width: 100%;
    height: 15px;
    background: linear-gradient(90.01deg, #44DD8A 2.38%, #18A0FB 100%);
    margin-top: 50px;
}


footer{
    color: #FFFFFF;
    height: 450px;
    background-color: #152237;
}
.logofoo{
    height: 80px;
    width: 200px;
    margin-top: 70px;
    margin-left: 70px;
}

.coul{
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Mentionlégales{
    margin-top: 60px;
}
.Coordonnées{
    margin-top: 60px;
}
.lesbtn2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
    height: 90px;
}
.fin{
    display: flex;
    width: 90%;
    justify-content: space-between;
}