*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
header{
    display: flex;
    height: 8.89vh; /* 80px */
    background-color: #152237;
}
.logonav{
    /* Image logo : dimensions conservées en px */
    width: 84px;
    height: 31px;
    margin-top: 2.78vh; /* 25px */
    margin-left: 6.25vw; /* 90px */
}
.formnav{
    color: #FFFFFF;
    margin-left: 6.25vw; /* 90px */
    margin-top: 3.44vh; /* 31px */
    font-size: 1.04vw; /* 15px */
    width: 13.89vw; /* 200px */
}
a{
    text-decoration: none;
    color: #152237;
}
.head-2{
    display: flex;
    align-items: center;
    width: 33.13vw; /* 477px */
    height: 4.44vh; /* 40px */
    margin-top: 2.22vh; /* 20px */
    margin-left: 8.33vw; /* 120px */
    border: solid 1px white;
    border-radius: 0.42vw; /* 6px */
    background-color: #152237;
    padding-left: 0.69vw; /* 10px */
}

.loup{
    /* Icône : dimensions conservées en px */
    height: 30px;
    width: 30px;
    margin-left: 13.89vw; /* 200px */
}
input{
    background-color: transparent;
    border: 0;
}
.lesbtn{
    display: flex;
    margin-top: 2.22vh; /* 20px */
    margin-right: 7.01vw; /* 101px */
    margin-left: 10.42vw; /* 150px */
}
.connav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.03vw; /* 130px */
    height: 5.44vh; /* 40px */
    background-color: #FFFFFF;
    border-radius: 6px; /* 6px */
    margin-right: 1.32vw; /* 19px */
    color: #152237;
}
.insnav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.03vw; /* 130px */
    height: 5.44vh; /* 40px */
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);
    border-radius: 6px; /* 6px */
    color: #152237;
}


.backban{
    height: 50.11vh; /* 451px */
    background-image: url(../projet-1/ressources/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-weight: 800;
    font-size: 3.33vw; /* 48px */
    text-transform: uppercase;
}
.sh1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.39vw; /* 20px */
    margin-top: 0.89vh; /* 8px */
}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.03vw; /* 130px */
    height: 5.44vh; /* 40px */
    border-radius: 0.42vw; /* 6px */
    background-color: #FFFFFF;
    margin-top: 2.44vh; /* 22px */
}
.bannière{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50.11vh; /* 451px */
    background: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%);
}

.Lesformationspopulaires{
    background-color: #FFFFFF;
    height: 85.22vh; /* 632px */
}
.lesdiv{
    display: flex;
    flex-direction: row;
    margin-top: 3.78vh; /* 34px */
}
.pop{
    margin-top: 3.33vh; /* 30px */
    margin-left: 3.13vw; /* 45px */
    font-weight: 800;
    font-size: 2.5vw; /* 36px */
}
.formation{
    width: 21.32vw; /* 307px */
    height: 40.22vh; /* 362px */
    margin-top: 3.78vh; /* 34px */
    margin-left: 3.13vw; /* 45px */
}
.img-course{
    /* Image : dimensions conservées en px */
    width: 305px;
    height: 206px;
}
h3{
    margin-top: 2.33vh; /* 21px */
    margin-bottom: 1.22vh; /* 11px */
}
.prix{
    position: relative;
    z-index: 1;
    top: -2.22vh; /* -20px */
    left: 12.08vw; /* 174px */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.33vw; /* 120px */
    height: 3.51vh; /* 31.58px */
    background-color: #152237;
    color: #FFFFFF;
    border-radius: 6.46vw; /* 93px */
}
.etoile{
    /* Icône probable, marges converties */
    margin-top: 0.56vh; /* 5px */
    margin-bottom: 1.2vh; /* 10.8px */
}

.btnpop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.63vw; /* 225px */
    height: 5.44vh; /* 40px */
    margin-top: 19.78vh; /* 43px */
    margin-left: 42%;
    background-color: #152237;
    border-radius: 6px; /* 6px */
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.04vw; /* 15px */
}


.formationrécente{
    background-color: #152237;
    height: 85.22vh; /* 632px */
}
.ree{
    padding-top: 3.33vh; /* 30px */
    margin-left: 3.13vw; /* 45px */
    font-weight: 800;
    font-size: 2.5vw; /* 36px */
    color: #FFFFFF;
}
.formationree{
    width: 21.32vw; /* 307px */
    height: 40.22vh; /* 362px */
    margin-top: 3.78vh; /* 34px */
    margin-left: 3.13vw; /* 45px */
    color: #FFFFFF;
}
.prixree{
    position: relative;
    z-index: 1;
    top: -2.22vh; /* -20px */
    left: 12.08vw; /* 174px */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.33vw; /* 120px */
    height: 3.51vh; /* 31.58px */
    background-color:#FFFFFF;
    color:#152237;
    border-radius: 6.46vw; /* 93px */
}
.pn{
    font-weight: 700;
    font-size: 1.39vw; /* 20px */
}
.pb{
    font-weight: 400;
    font-size: 0.69vw; /* 10px */
    line-height: 0.78vh; /* 7px */
    letter-spacing: -1.5%;
    text-decoration: line-through;
}
.btnree{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.63vw; /* 225px */
    height: 5.44vh; /* 40px */
    margin-left: 42%;
    margin-top: 19.78vh; /* 43px */
    background-color: #FFFFFF;
    border-radius: 6px; /* 6px */
    color: #152237;
    font-weight: 500;
    font-size: 1.04vw; /* 15px */
}

.avis{
    height: 66.33vh; /* 597px */
}
.tittreavis{
    display: flex;
    justify-content: center;
    margin-top: 6.44vh; /* 58px */
    font-weight: 900;
    font-size: 2.78vw; /* 40px */
    text-transform: uppercase;
}
.lesavis{
    display: flex;
    flex-direction: row;
    margin-top: 7.33vh; /* 66px */
    margin-left: 10.42vw; /* 150px */
}
.avisclient1{
    width: 47.85vw; /* 689px */
    height: 34vh; /* 306px */
    margin-right: 2.29vw; /* 33px */
}
.imgavis{
    /* Image : on ne touche pas */
    border-radius: 50%;
}

.avantages{
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    height: 80.22vh; /* 641px */
}
.contenu{
    display: flex;
    flex-direction: column;
    margin-top: 8.78vh; /* 79px */
    margin-left: 6.25vw; /* 90px */
}
.tittreaven{
    font-weight: 900;
    font-size: 2.78vw; /* 40px */
    text-transform: uppercase;
}
.listeaven{
    margin-top: 4.78vh; /* 43px */
    font-weight: 400;
    font-size: 1.67vw; /* 24px */
    line-height: 5.56vh; /* 50px */
    letter-spacing: -1.5%;
}
.un{
    list-style-image: url(../projet-1/ressources/arrow-up-right.svg);
}
.de{
    list-style-image: url(../projet-1/ressources/edit-01.svg);
}
.tr{
    list-style-image: url(../projet-1/ressources/download-02.svg);
}
.qu{
    list-style-image: url(../projet-1/ressources/star-02.svg);
}
.ci{
    list-style-image: url(../projet-1/ressources/clock-backward.svg);
}
.si{
    list-style-image: url(../projet-1/ressources/annotation-typing.svg);
}
li{
    padding-left: 1.74vw; /* 25px */
}
.imgaven{
    /* Image : dimensions conservées en px */
    width: 630px;
    height: 430px;
}
.plcimg{
    margin-top: 8.44vh; /* 76px */
    margin-right: 2.78vw; /* 40px */
    margin-left: 0.69vw; /* 10px */
}


.avantageformation{
    display: flex;
    flex-direction: row;
    height: 80.22vh; /* 641px */
    background-color: #44DD8A;
}
.imgcree{
    /* Image : dimensions conservées en px */
    width: 630px;
    height: 430px;
}
.plcimgfo{
    margin-top: 11.11vh; /* 100px */
    margin-left: 2.08vw; /* 30px */
    margin-right: 0.69vw; /* 10px */
}
.icones{
    display: flex;
    flex-direction: column;
    margin-left: 2.78vw; /* 40px */
    margin-top: 8.78vh; /* 79px */
    width: 50%;
}
.tittrecree{
    font-weight: 900;
    font-style: Black;
    font-size: 2.43vw; /* 35px */
    line-height: 4vh; /* 36px */
    letter-spacing: -1.5%;
    text-transform: uppercase;
}
.listecree{
    font-weight: 400;
    font-size: 1.39vw; /* 20px */
    line-height: 4.44vh; /* 40px */
    letter-spacing: -1.5%;
    margin-top: 4.33vh; /* 39px */
}
.unfo{
    list-style-image: url(../projet-1/ressources/coin-hand.svg);
}
.defo{
    list-style-image: url(../projet-1/ressources/heart.svg);
}
.trfo{
    list-style-image: url(../projet-1/ressources/pencil-01.svg);
}
.cifo{
    list-style-image: url(../projet-1/ressources/settings.svg);
}
.qufo{
    list-style-image: url(../projet-1/ressources/user-profile-square.svg);
}


.aproposdeKlivio{
    display: flex;
    flex-direction: row;
    height: 80.67vh; /* 600px */
    background-color: #F5F5F5;
    width: 100%;
}
.groupe{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.group{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 41.67vw; /* 600px */
    margin-left: 5%;
}
.tittreapr{
    font-weight: 900;
    font-style: Black;
    font-size: 2.78vw; /* 40px */
    line-height: 4vh; /* 36px */
    letter-spacing: -1.5%;
    text-transform: uppercase;
}
.bleu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152237;
    width: 50%;
}

.contact{
    height: 55.56vh; /* 500px */
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tittrecontact{
    font-weight: 900;
    font-style: Black;
    font-size: 2.08vw; /* 30px */
    line-height: 4vh; /* 36px */
    letter-spacing: -1.5%;
    text-transform: uppercase;
    margin-top: 3.33vh; /* 30px */
    margin-bottom: 3.33vh; /* 30px */
}
.ligne{
    height: 1px; /* Borders often stay 1px */
    width: 20.83vw; /* 300px */
    background-color: #44DD8A;
    margin-bottom: 3.33vh; /* 30px */
}
.nomemail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nom{
    padding-left: 0.69vw; /* 10px */
    display: flex;
    align-items: center;
    height: 4.44vh; /* 40px */
    width: 34.72vw; /* 500px */
    background-color: #152237;
    margin-right: 6.94vw; /* 100px */
    color: #FFFFFF;
}
.email{
    padding-left: 0.69vw; /* 10px */
    display: flex;
    align-items: center;
    height: 4.44vh; /* 40px */
    width: 34.72vw; /* 500px */
    background-color: #152237;
    color: #FFFFFF;
}
.message{
    display: flex;
    justify-content: flex-start;
    margin-top: 5.56vh; /* 50px */
    height: 22.22vh; /* 200px */
    width: 77.78vw; /* 1120px */
    background-color: #152237;
}
.btncon{
    height: 5.44vh; /* 40px */
    width: 20.83vw; /* 300px */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #152237;
    background-color: #44DD8A;
    border-radius: 6px; /* 6px */
    margin-top: 4.44vh; /* 40px */
}

.ligne2{
    width: 100%;
    height: 1.67vh; /* 15px */
    background: linear-gradient(90.01deg, #44DD8A 2.38%, #18A0FB 100%);
    margin-top: 5.56vh; /* 50px */
}

footer{
    color: #FFFFFF;
    height: 44.44vh; /* 400px */
    background-color: #152237;
}
.logofoo{
    /* Image logo : dimensions conservées en px */
    height: 80px;
    width: 200px;
    margin-top: 7.78vh; /* 70px */
    margin-left: 4.86vw; /* 70px */
}

.coul{
    height: 27.78vh; /* 250px */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Mentionlégales{
    margin-top: 6.67vh; /* 60px */
}
.Coordonnées{
    margin-top: 6.67vh; /* 60px */
}
.lesbtn2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7.78vh; /* 70px */
    height: 13vh; /* 90px */
    margin-right: 1.39vw; /* 20px */
}
.fin{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5.56vh; /* 50px */
    justify-content: space-between;
    width: 90%;
    margin-left: 5.56vw; /* 80px */
}
.espace{
    margin-left: 1.04vw; /* 15px */
}
.réseauxsociaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
hr{
    height: 2px;
    background: #44DD8A;
    border: 0px;
    width: 90%;
    margin-left: 5.56vw; /* 80px */
}
ul{
    list-style-type: none;
}
.map{
    list-style-image: url(../projet-1/ressources/marker-02.svg);
}
.tel{
    list-style-image: url(../projet-1/ressources/phone.svg);
}
.m{
    list-style-image: url(../projet-1/ressources/mail-01.svg);
}

@media screen and (min-width: 800px) {
    .burger{
        display: none;
    }
    .imgmobile{
        display: none;
    }
}


@media screen and (max-width: 768px) {
    
    body, html {
        overflow-x: hidden;
        width: 100%;
    }

    h1 {
        font-size: 32px; 
        text-align: center;
    }

    header {
        height: 80px;
        flex-direction: column;
        justify-content: center;

    }
    .logonav {
        margin: 20px;
    }

    .formnav {
        display: none;
    }

    .head-2 {
        display: none;
    }


    .lesbtn {
        display: none;
    }
    .burger{
        height: 80px;
        width: 80px;
        position: absolute;
        right: 0;
    }

    .backban, .bannière {
        height: 364px;
        background-size: cover;
        background-position: center;
        text-align: center;
    }


    .sh1 {
        text-align: center;
        padding: 0 10px;
        font-size: 20PX;
    }
    .more{
        height: 40px;
        width: 130px;
        border-radius: 6px;
    }
    .Lesformationspopulaires  {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .formationrécente{
        height: 1750px;
    }
    .lesdiv {
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .pop, .ree {
        margin-left: 0;
        text-align: center;
        font-size: 28px;
    }

    .formation, .formationree {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: auto;
        font-size: 13px;
        height: auto;
    }
    .prix{
        height: 30px;
        width: 100px;
        margin-left: 130px;
    }
    .prixree{
         height: 30px;
        width: 100px;
        margin-left: 130px;
    }
    .pn{
        font-size: 20px;

    }
    .pb{
        font-size: 10px;
    }
    .etoile{
        height: 15px;
        width: 100px;
    }
    .img-course{
        height: 200px;
        width: 300px;
    }
    .btnpop {
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 30px;
        height: 40px;
        width: 220px;
        font-size: 15px;
        }
    .btnree{
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 30px;

        height: 40px;
        width: 220px;
        font-size: 15px;
    }

    .avis {
        height: auto;
        padding-bottom: 40px;
    }

    .tittreavis {
        font-size: 28px;
        text-align: center;
        margin-top: 40px;
    }

    .lesavis {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .avisclient1 {
        width: 90%;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    
    .avisclient1 img {
        max-width: 100%;
    }


    .avantages, .avantageformation {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; 
        height: auto;
        padding-bottom: 40px;
    }
    .contenu{
        margin-top: 40px;
        box-sizing: border-box;
        margin-left: 50px;
    }
    .icones{
        margin-top: 40px;
        box-sizing: border-box;
        margin-left: 0;
        width: 90%;
        margin-left: 30px;
    }
    .tittreaven {
        font-size: 30px;
        text-align: center;
        margin-right: 30px;
    }
    .tittrecree{
        text-align: center;
        font-size: 28px;
        margin-right: 30px;
    }
    .listeaven, .listecree {
        font-size: 18px;
        line-height: 1.5;
    }
    .imgaven {
        width: 90%; 
        height: auto;
        margin: 20px auto;
        display: block;
    }
    .imgcree{
        display: none;
    }
    .imgmobile{
        width: 90%; 
        height: auto;
        display: block;
    }
    .plcimg, .plcimgfo {
        margin: 0;
    }

    .aproposdeKlivio {
        flex-direction: column;
        height: auto;
    }
    .groupe {
        width: 100%;
        padding: 40px 0;
    }
    .bleu{
        height: 400px;
        width: auto;
    }
    .logomobile{
        height: 77px;
        width: 214px;
    }
    .group {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .tittreapr {
        font-size: 28px;
    }


    .contact {
        height: auto;
        padding-bottom: 40px;
        width: 100%;
    }
    .tittrecontact{
        font-size: 30px;
    }
    .nomemail {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
    .nom, .email {
        width: 90%; 
        margin-right: 0;
    }
    .message {
        width: 90%;
        margin-top: 15px;
    }
    .ligne {
        display: none;    
    }
    .btncon{
        width: 80%;
    }


    footer {
        height: auto;
        padding-bottom: 10px;
    }
    .coul {
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .logofoo {
        margin: 30px auto 0 auto;
    }
    .Mentionlégales, .Coordonnées  {
        margin-top: 30px;
        margin-right: 0;
        height: auto;
        gap: 15px;
    }
    .lesbtn2{
        display: none;
    }
    .fin {
        display: none;
    }
    hr {
    display: none;    
}   
    ul li {
        text-align: left; 
    }
}